@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');

@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

   .cubic-bezier-104-204-492 {
    transition-timing-function: cubic-bezier(0.104, 0.204, 0.492, 1);
  }
}

@layer components {
  .hover {
    @apply font-poppins border-b-[1px] border-transparent hover:border-yellow-300 hover:text-yellow-300 text-zinc-50 cursor-pointer transition-all ease-in-out duration-300;
  }
  .hoverIcon {
    @apply hover:text-yellow-300 text-zinc-50 cursor-pointer transition-all ease-in-out duration-300;
  }

  .btn{
    @apply flex justify-center items-center text-zinc-50 bg-zinc-950 h-12 w-12 p-2 rounded-full cursor-pointer transition-all ease-in-out duration-300 hover:text-zinc-950 hover:bg-zinc-50;
  }
}

.body{
  font-family: 'Poppins', sans-serif;
}

.nav{
  position: sticky;
  top:10rem;
}


.slider {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  
  
}

.card-container {
  display: inline-flex;
  
  animation: 14s slide infinite linear;
}

.lineUp {
  animation: 2s anim-lineUp ease-in-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Ubuntu,roboto,noto,arial,sans-serif; */
