@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover {
    @apply border-b-[1px] border-transparent hover:border-yellow-300 hover:text-yellow-300 text-zinc-50 cursor-pointer transition-all duration-300;
  }
  .hoverIcon {
    @apply hover:text-yellow-300 text-zinc-50 cursor-pointer transition-all duration-300;
  }
}

.nav{
  position: sticky;
  top:10rem;
}


.slider {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  
  
}

.card-container {
  display: inline-flex;
  
  animation: 14s slide infinite linear;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Ubuntu,roboto,noto,arial,sans-serif; */
